.form-group select {
    background-color: rgb(193, 193, 193);
}
.form-group input {
    background-color: rgb(193, 193, 193);
}
.form-group textarea {
    background-color: rgb(193, 193, 193);
}
#submit{
    background-color: rgb(122, 107, 211);
}